
  

  
  <p>
    <mat-toolbar color="primary">
      <a routerLink="/" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu_book</mat-icon>
      </a>
      <span>Examportal</span>
      <span class="example-spacer"></span>
      <a *ngIf="!isLoggedIn" [routerLink]="'/login'" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <!-- <mat-icon>login</mat-icon> -->
        Login
      </a>
      <a *ngIf="!isLoggedIn" [routerLink]="'/signup'" mat-icon-button class="example-icon ml20 mr20" aria-label="Example icon-button with share icon">
        <!-- <mat-icon>share</mat-icon> -->
        Register
      </a>

      <a (click)="logout()" *ngIf="isLoggedIn && user" mat-icon-button class="example-icon favorite-icon mr20 mr20" aria-label="Example icon-button with heart icon">
        <!-- <mat-icon>login</mat-icon> -->
        {{ user.username }}
      </a>


      <a (click)="logout()" *ngIf="isLoggedIn" mat-icon-button class="ml20 example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <!-- <mat-icon>login</mat-icon> -->
        Logout
      </a>
    </mat-toolbar>
  </p>
  
 